<html>
    <head>
        <title>Calculation Page</title>
    </head>
    <body>
        <h1>Calculation Page</h1>
        <a href="/"><b>Home</b></a>&nbsp;
        <hr>

        <h5>GET Request</h5>
        <form action="/calc/add" method="get">
            <input type="number" name="fnum" placeholder="First Number" required>
            <input type="number" name="snum" placeholder="Second Number" required>

            <button>Addition</button>
        </form>
        <h5>POST Request</h5>
        <form action="/calc/mul" method="post">
            <input type="number" name="fnum" placeholder="First Number" required>
            <input type="number" name="snum" placeholder="Second Number" required>

            <button>Multiply</button>
        </form>
        <hr>

        <h5>GET Request</h5>
        <form action="/calc/pro" method="get">
            <input type="number" name="fnum" placeholder="First Number" required>
            <input type="number" name="snum" placeholder="Second Number" required>

            <button>Subtract</button>
        </form>
        <h5>POST Request</h5>
        <form action="/calc/pro" method="post">
            <input type="number" name="fnum" placeholder="First Number" required>
            <input type="number" name="snum" placeholder="Second Number" required>

            <button>Divide</button>
        </form>

        <hr>
        

    </body>
</html>