<html>
    <head>
        <title>Express Web</title>
    </head>
    <body>
        <h1>Express Web</h1>
        <a href="/"><b>Home</b></a>&nbsp;
        <a href="/calc/home"><b>Calculation</b></a>&nbsp;
        <a href="/student/home"><b>Student</b></a>;
        <hr>

        <img src="/imgs/college.jpeg">
    </body>
</html>