<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
  </head>
  <body>
    <h1 class="alert-">Student Record</h1>
    <br />
    <a href="/students/home"><b>List student</b></a> &nbsp;
    <hr />

    <div class="container">
      <form action="/student/save" method="post">
        <div class="row mt-3">
          <div class="col-xl-4">
            <input
              type="number"
              class="form-control"
              placeholder="Roll Number"
              name="roll"
              required
            />
          </div>
          <div class="col-xl-4">
            <input
              type="text"
              class="form-control"
              placeholder="Name"
              name="name"
              required
            />
          </div>
          <div class="col-xl-4">
            <input
              type="text"
              class="form-control"
              placeholder="Mobile"
              name="mobile"
              minlength="10"
              maxlength="10"
              required
            />
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-xl-4">
            <input
              type="email"
              class="form-control"
              placeholder="Email"
              name="email"
            />
          </div>
          <div class="col-xl-4">
            <select class="form-control" name="branch" required>
              <option value="">Choose Branch</option>
              <option>CS</option>
              <option>IT</option>
              <option>EC</option>
            </select>
          </div>
          <div class="col-xl-4">
            <input
              type="number"
              class="form-control"
              placeholder="Marks"
              name="marks"
            />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-xl-4">
            <button class="btn btn-outline-success">Save Student</button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
