body{
    background-color: #212121;
    color: rgb(219, 203, 219);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#heading1{
    text-align: center;
}
#input{
    background-color: #111111;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

#input input select{
    font-size: larger;
    text-align: center;
    max-width: 20px;
}
select{
    width: 172px;
}
button{
    margin-top: 7px;
    margin-left: 140px;

}

#table{
    border: 2px dotted white;
    padding: 10px;
}